/* basic setup */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*---------------reusable components---------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* button */
.button {
    text-align: center;
}

.btn:link,
.btn:visited,
input[type="submit"] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 200px;
    font-weight: 500;
    -webkit-box-transition: all 1s ease;
    -moz-box-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
    background: rgba(186, 129, 59, 1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186, 129, 59, 1)), color-stop(0%, rgba(186, 129, 59, 1)), color-stop(0%, rgba(186, 129, 59, 1)), color-stop(100%, rgba(251, 241, 168, 1)));
    background: -webkit-gradient(linear, left top, right top, from(rgba(186, 129, 59, 1)), color-stop(0%, rgba(186, 129, 59, 1)), color-stop(0%, rgba(186, 129, 59, 1)), to(rgba(251, 241, 168, 1)));
    background: linear-gradient(to right, rgba(186, 129, 59, 1) 0%, rgba(186, 129, 59, 1) 0%, rgba(186, 129, 59, 1) 0%, rgba(251, 241, 168, 1) 100%);
    color: black;
    -webkit-box-transition: all 1s ease;
    -moz-box-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    padding-right: 31px;
    margin: 20px auto;
    border: 1px solid #d3c98b;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #fbf1a8;
    padding-top: 9px;
    padding-bottom: 8px;
    color: #fbf1a8;
    -webkit-box-transition: all 1s ease;
    -moz-box-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:active {
    background: #865d2b;
    background: -webkit-gradient(left top, right top, color-stop(0%, #865d2b), color-stop(0%, #865d2b), color-stop(0%, #865d2b), color-stop(100%, #d3c98b));
    background: -webkit-gradient(linear, left top, right top, from(#865d2b), color-stop(0%, #865d2b), color-stop(0%, #865d2b), to(#d3c98b));
    background: linear-gradient(to right, #865d2b 0%, #865d2b 0%, #865d2b 0%, #d3c98b 100%);
    -webkit-box-transition: all 1s ease;
    -moz-box-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #fbf1a8;
    color: black;
    -webkit-box-transition: all 1s ease;
    -moz-box-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/* heading */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #865d2b;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* paragraphs */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: center;
}

/* icon */
.icon-cont {
    text-align: center
}

.icon-big {
    font-size: 350%;
    display: block;
    color: #865d2b;
    margin-bottom: 10px;
}

/* section */

section {
    padding: 70px 0;
}


/*---------------intro section---------------*/

.video-container {
    width: 100%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


#intro {
    background: gray;
    background: rgba(0, 0, 0, 0.75);
    padding: 3em 3em 3em 3em;
    text-align: center;
    text-transform: uppercase;
    color: #eee;
    height: 100vh;
}

#intro-text {
    margin-top: 25vh;
}
#intro span {
    color: #f9e877;
    font-style: italic;
}

.logo,
.logo-black {
    height: 100%;
    width: 35%;
    float: left;
    margin-left: -3%;
}
.logo-black {
    display: none;
}
.main-nav {
    float: right;
    list-style: none;
    font-weight: 400;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
    margin-top: 55px
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-box-transition: all 1s ease;
    -moz-box-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fbf1a8;
}
/* mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}
.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}
/* sticky nav */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    -webkit-box-shadow: 0px 3px 3px #a7a7a7;
            box-shadow: 0px 3px 3px #a7a7a7;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 10px 0;
    color: #555;
}
.sticky .logo {
    display: none;
}
.sticky .logo-black {
    display: block;
    width: 20%;
    margin: 15px 0;
}
.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    border-bottom: 2px solid #865d2b;
}
.sticky .main-nav li {
    margin-top: 50px;
}
/* scrolldown */

#scroll a {
    padding-top: 80px;
    margin-left: -3.3%;
}

#scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#scroll a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

#scroll a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;

}

/* text delete and type css */

#container {
    text-align: center;
}

#text {
    display: inline-block;
    vertical-align: middle;
    color: orange;
    letter-spacing: 2px;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 50px;
    background-color: orange;
    -webkit-animation: blink .75s step-end infinite;
            animation: blink .75s step-end infinite;
}

@-webkit-keyframes blink {

    from,
    to {
        background-color: transparent
    }

    50% {
        background-color: orange;
    }
}

@keyframes blink {

    from,
    to {
        background-color: transparent
    }

    50% {
        background-color: orange;
    }
}

/*---------------mission section---------------*/
.col-container {
    padding-top: 40px;
}
#section-mission {
    padding: 60px 30px;
}

/*---------------work section---------------*/
.section-work {
    background-color: #f1f1f1;
}
.video-grid.front-page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em 2em;
}

ul.video-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

li.video {
    list-style: none;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative;
    overflow: hidden;
    width: 33.33333%;
    width: calc(100% / 3);
    border: solid 0.2em transparent;
}

li.video a {
    outline: none;
}

li.video:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.15s;
    transition: background-color 0.15s;
}

li.video figure {
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

li.video figure img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

li.video figure figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

li.video:hover figure img {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

li.video:hover figure figcaption {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
}

li.video:hover:before {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 800px) {
    li.video {
        width: 50%;
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 640px) {
    li.video {
        width: 100%;
    }
}
/*---------------client section---------------*/
.section-clients {
    text-align: center;
}
.section-clients img{
    max-width:100%;
    max-height:100%;
}
#gov {
    width: 33%;
}
#oim {
    width: 50%;
}
#ifb {
    width: 60%;
}
#olympic {
    width: 80%;
}
#miss-burundi {
    width: 75%;
}
#unhcr {
    width: 60%;
}
#unicef{
    width: 65%;
}
#pnud{
    width: 38%;
}
/*---------------pricing section---------------*/
.section-pricing {
    background-color: #f1f1f1;
}

.plan-box {
    background-color: #fff;
    border-radius: 15px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 7px 7px 7px rgb(182, 182, 182);
            box-shadow: 7px 7px 7px rgb(182, 182, 182);
}
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fcfcfc;
}
.plan-box div:last-child {
    text-align: center;
    border: 0;
}
.plan-price {
    font-size: 240%;
    font-weight: 200;
    margin-bottom: 10px;
    color: #865d2b;
}
.plan-price span {
    font-size: 50%;
    font-weight: 300;
}
.plan-price-explain {
    font-size: 80%;
    text-align: center;
}
.plan-box ul {
    list-style: none;
}
.plan-box ul li {
    padding: 5px 0;
}
/*---------------contact section and map---------------*/
.responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: 10%;
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.address {
    text-align: center;
    margin-top: 3%;
}
.address p {
    line-height: 40px;
}
form span {
    color: red;
}
#name,
#telephone,
#email,
#text-area {
    outline-color:#865d2b;
}
/*---------------footer section---------------*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
}

footer a{
    cursor: pointer;
    color: white;
}
#my-site {
    color: #f9e877;
}
#my-site:hover {
    color: #beb15a;
    text-decoration: none;
}
footer li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;

}
footer li:last-child {
    margin-right: 0;
}
.social-row {
    margin-bottom: 50px;
}
.copyright-row{
    margin-bottom: 10px;
}
footer {
    padding: 40px 0 30px 0;
}
.fb-color {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.yt-color {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.ig-color {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}
.tw-color {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.fb-color:hover {
    color: #3b5999;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.yt-color:hover {
    color: #cd201f;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.ig-color:hover {
    color:#ff0084;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.tw-color:hover {
    color: #55acee;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/*---------------animation---------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4{
    opacity: 0;
}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated{
    opacity: 1;
}