/*---------------Big tablet to small-size desktop/laptop: 767px to 1023px---------------*/
@media only screen and (max-width: 1200px) {
    #intro-text {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }

    .main-nav {
        font-size: 90%;
    }
}

/*---------------Small tablet to big tablet: 767px to 1023px---------------*/
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    #intro {
        padding-left: 1em;
        padding-right: 1em;
    }

    #intro-text {
        margin-top: 25vh;
        font-size: 85%;
    }

    .main-nav {
        font-size: 85%;
    }

    .logo {
        width: 30%;
    }

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .plan-price {
        font-size: 200%;
    }

    .contact-form {
        width: 85%;
    }

    #section-mission {
        padding: 60px 30px;
    }

}


/*---------------Big phones to small tablet: 481px to 767px---------------*/
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0
    }

    .row,
    #intro-text {
        padding: 0 4%;
    }

    .col {
        width: 100%;
    }

    .main-nav {
        display: none;
    }

    .logo {
        width: 65%;
    }

    .section-clients .box {
        width: 50%;
        margin: 40px auto;
    }
    
    .col {
        margin: 10px auto;
    }

    #form-btn {
        text-align: center;
        margin-top: -20px;
    }

}


/*---------------Small phones: 0px to 480px---------------*/
@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }
}